*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #FFF8F3;
    padding-left: 200px;
    padding-right: 200px;
    background-image:url(../images/hardy.png),url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position:bottom right,bottom right,left;
    height: 745px;
    background-size: 550px,auto,85px;
    background-position-x:right,right, 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50PX;
    align-items: center;
}
nav h1{
    font-weight: 800;
    font-size: 40px;
}
nav h1 span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding-right: 40PX;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
}
nav ul button{
    padding: 12PX 22PX;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.banner{
margin-top: 170.5px;
width: 580px;
}
.banner h3{
    margin-top: 20px;
}
.banner h1{
    margin-top: 20px;
}
.banner p{
    margin-top: 20px;
}
.banner h1{
    font-size: 40px;
    
}
.banner h2{
    font-weight: 400;
}
.btn1{
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    padding: 15px 15px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-right: 20PX;
}
.btn2{
    background-color:transparent;
    border: 1PX solid #FD6E0A;
    border-radius: 5px;
    padding: 15px 15px;
    font-weight: bold;
    color: #FD6E0A;
    margin-top: 20px;
}
svg{
    padding-right: 5PX;
    MARGIN-BOTTOM: -2PX;
}
section{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
}
.personal-data-main{

background-color: #FFF8F3;
padding:100px 150px;
}
.personal-data div p{
    text-align: center;
    color: #757575;
    padding-top: 20px;
}
.personal-data div h1{
    text-align: center;
}
.personal-Data-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    
}
.activities div h1{
    text-align: center;
}
.activities>div>p{
    text-align: center;
    padding: 20px 120px;
    color: #757575;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills div{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px;
    padding: 30px;
}
.skill-set{
    font-weight: bold;
    margin:15px 0px;
}
.skill-set-2{
    color:#757575;
}